################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Examen1-Orlando/bin/Debug/net6.0
/Examen1-Orlando/obj/Debug/net6.0/ref/Examen1-Orlando.dll
/Examen1-Orlando/obj/Debug/net6.0/refint/Examen1-Orlando.dll
